@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
body{
  width: 100%;
  height: 100%;
}
.product{
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;

}
.head {
  text-align: center;
  color: #81ae46;
  font-family: sans-serif;
}
.products{
  flex: 1 0 15%;
  border-left: 1px solid #e9ecef;
  border-top: 1px solid #e9ecef;
  padding-bottom: 3%;
  padding-top: 1%;
  
}

.image{
  width: 40%;
  height: 40%;
  display: block;
  margin: auto;
}
.name{
  font-size: 20px;
  text-align: center;
  color: #6c757d;
  margin-top: 30%;
  font-family: 'Noto Serif',serif;
}
.price{
  text-align: center;
  color: #6c757d;
  font-size: 15px;
  font-family: 'Noto Serif',
  serif;
}

.name:hover, .price:hover{
  color: blue;
 
}


@media screen and (max-width: 600px) {
  .name{
    font-size: 20px;
    margin-top: 10px;
  }

  .price{
    font-size: 15px;
  }

  .products{
    flex: 1 0 100%;
    
  }
}
